externaldwfile/src/main/app/ExternalDw.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="ExternalDw-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="ExternalDw-config" raml="ExternalDw.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="ExternalDw-main">
        <http:listener config-ref="ExternalDw-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="ExternalDw-config" doc:name="APIkit Router"/>
        <exception-strategy ref="ExternalDw-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="post:/:ExternalDw-config">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="params"><![CDATA[%dw 1.0
%output application/java
---
{
	(payload: {
		schemaPath: inboundProperties.transformset ++ ".ffd",
		segmentIdent: inboundProperties.schemaconfig,
		missingValues: "spaces"
	}) when (inboundProperties.inputflatfile),
	(output: {
		schemaPath: inboundProperties.transformset ++ ".ffd",
		segmentIdent: inboundProperties.schemaconfig,
		missingValues: "spaces"
	}) when (not inboundProperties.inputflatfile)
}]]></dw:set-variable>
            <dw:set-variable variableName="contentType"><![CDATA[%dw 1.0
%output application/java
---
'application/xml' when (inboundProperties.inputflatfile) otherwise 'text/plain']]></dw:set-variable>
        </dw:transform-message>
        <component class="externaldwfile.ReadDWContent" doc:name="Java"/>
        <set-payload value="#[dw(flowVars.dwContent, flowVars.contentType, flowVars.params)]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="ExternalDw-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
